<?xml version='1.0' encoding='utf-8'?>
<widget id="com.arrking.iwildfire" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iwildfire</name>
    <description>
      simple wechat based forum
    </description>
    <author email="dev@arrking.com" href="http://www.arrking.com">
      Arrking Tech Dev Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
