<ion-view hide-nav-bar="true">
    <ion-content class="padding">
        <div class="card" ng-show="data == null">
            <div class="item">
                加载中...
            </div>
        </div>
        <div class="list list-inset" collection-repeat="x in data">
            <div class="item item-divider">
                {{x.title}}
            </div>
            <div class="item">
                报名人数：{{x.collect_count}}
            </div>
            <!-- <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-plus-outline"></i> 我要报名
</a>
<a class="item item-icon-left" href="#">
    <i class="icon ion-ios-minus-outline"></i> 取消报名
</a>
 -->
            <button class="button button-clear button-positive">
                查看详情
            </button>
            <a class="item item-icon-left" href="#">
            </a>
        </div>
    </ion-content>
</ion-view>
