<ion-view hide-nav-bar="true">
    <!-- class="has-header" -->
    <ion-content scroll="false">
        <div class="list card">
            <div class="item item-avatar">
                <img src="{{data.profile.headimgurl}}">
                <h2>{{data.name}}</h2>
                <p>{{data.profile.province}}</p>
            </div>
            <div class="item item-body">
                <!-- <img class="full-image" src="delorean.jpg"> -->
                <p>
                    联系方式：{{data.phone_number}}
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-pulse"></i> 活动
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatboxes"></i> 评论
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> 分享
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
