*.swp
*.swo
*.sublime-*
node_modules
server/config.js
server/logs/*.log*
!server/public/upload/README
server/public/upload/
client/config/development.json
client/config/production.json
client/app/scripts/templates.js
