.nopadding {
	padding: 0 !important;
}

.fr {
	float: right !important;
}

.m0 {
	margin: 0 !important;
}

.mr5 {
	margin-right: 5px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.border-dashed {
	border-style: dashed!important;
}

.noborder {
	border: none;
}