$royal: #56c1b5 !default; 
.wf-post-form {
    * {
        color: #666;
    }
    .item {
    }
    .button {
        //background: #aaa;
        //border-color: #999;
    }
    .tag-list {
        white-space: normal;
        li {
            display: inline-block;
            text-align: center;
            margin: 4px 0px;
            line-height: 16px;
            font-size: 14px;
            display: inline-block;
            border-right: 1px solid $royal;
            a {
                color: #666;
                text-decoration: none;
                display: block;
                padding: 2px 10px;
                // line-height: 30px;
            }
            &.active {
                background: $royal;
                a {
                    color: #fff;
                }
            }
        }
        li:last-child {
            border-right: none;
        }
    }
    .quality-list {
        li {
            width: 20%;
            display: inline-block;
            text-align: center;
            a {
                font-size: 14px;
                color: #666;
                text-decoration: none;
                display: inline-block;
                height: 48px;
                width: 48px;
                border-radius: 50%;
                line-height: 48px;
                background: #ddd;
                box-sizing: border-box;
            } 
            &.active a {
                background: $royal;
                color: #fff;
            }
        }
    }
}
.row .item-input {
  padding: 1px 0 0px 8px;
}