#account {
  position: relative;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
  padding-top: 130px;
}

#profile-info {
  position: absolute;
  top: -70px;
  width: 100%;
  z-index: 2;
  text-align: center;
}

#profile-name {
  color: #444;
  font-size: 20px;
  margin-top: 5px;
}

#profile-image {
  display: block;
  border-radius: 60px;
  border: 1px solid #fff;
  width: 70px;
  height: 70px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

#my-stuff-list-container {
  top: 130px;
  margin-top: 50px;
  padding-bottom: 180px;
}

#my-stuff-list-scroll {
  width: 100%;
  height: 100%;
}

#account .tabs-striped .tabs {
  border: none;
  height: 60px;
  .badge {
    background-color: transparent;
    right: 0;
    top: 10px;
    border-radius: 0;
    padding: 0;
    display: block;
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    width: 100%;
  }
  .tab-title {
    vertical-align: bottom;
    font-size: 16px;
    color: #000;
    text-align: center;
    width: 100%;
    position: absolute;
    margin: 0;
    line-height: 16px;
    bottom: 6px;
    display: block;
  }
  .tab-item {
    border-top-width: 0;
    border-bottom-width: 1px;
    background-color: #eee;
    box-sizing: content-box;
  }
  .tab-item.tab-item-active {
    border-top-width: 0;
    border-bottom-width: 4px;
    background-color: #fff;
  }
}
