<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-royal">
    <div class="buttons">
      <button class="button icon-left ion-ios-arrow-left button-clear " ng-click="goBackSettings()"></button>
    </div>
    <h1 class="title">关于</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="images/frog-icon.png">
        <h2>naboo</h2>
        <p>版本 v1.0, Build {{data.build}}</p>
      </div>
      <div class="item item-text-wrap">
        naboo是一款主打校园、近距离的闲置及二手物品的交易平台，并立志于提供有别于现有常规的BBS，贴吧，weibo等手段的更好的用户体验，更好的完成近距闲置物品交易行为。
      </div>
      <div class="item item-text-wrap">
        naboo的发展愿景就是促进物品价值的物尽其用，并推动循环经济的理念深入人心。
      </div>
      <div class="item item-text-wrap">
        naboo使用方法，基于微信公众号的方式，使用时无需下载，能看快速浏览，发布以及简化二手及闲置转让中出现的各种沟通成本，让二手及闲置转让真正变得更加简单易用高效。
      </div>
    </div>
  </ion-content>
</ion-view>
