<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-royal">
    <div class="buttons">
      <button class="button icon-left ion-ios-arrow-left button-clear " ng-click="goBackSettings()"></button>
    </div>
    <h1 class="title">{{data.feedback.title}}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <!-- focus-me does not work -->
        <!-- http://forum.ionicframework.com/t/auto-focus-textbox-while-template-loads/6851/5 -->
        <!-- needs more permission in config -->
        <textarea ng-model="data.feedback.content" placeholder="这是给没有节操的Product Manager的一封匿名信" style="height:150px"></textarea>
      </label>
      <button class="button button-block button-outline button-positive" ng-click="submitFeedback()">
        提交
      </button>
    </div>
  </ion-content>
</ion-view>
