<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-royal">
    <div class="buttons">
      <button class="button icon-left ion-ios-arrow-left button-clear " ng-click="goBackProfile()"></button>
    </div>
    <h1 class="title">设置</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <a class="item item-icon-right" href="javascript:void(0)">
                        手机号码 {{data.phone}}
                        <i class="icon royal ion-iphone"></i>
                    </a>
      <li class="item item-toggle">
        消息提醒
        <label class="toggle toggle-royal toggle-balanced">
          <input type="checkbox" ng-model="data.is_wechat_notify" ng-checked="data.is_wechat_notify == true" ng-change="toggleIsWechatNotify()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <a class="item item-icon-right" ui-sref="feedback">
                        用户反馈 <i class="icon royal ion-ios-paperplane-outline"></i> 
                    </a>
      <a class="item item-icon-right" ui-sref="service-agreement">
                        用户协议 <i class="icon royal ion-ios-paper-outline"></i> 
                    </a>
      <!-- <a class="item item-icon-right" ui-sref="help">
                         帮助 <i class="icon ion-help-buoy"></i>
                    </a>
 -->
      <a class="item item-icon-right" ui-sref="about">
                        关于 <i class="icon royal ion-ios-star-outline"></i> 
                    </a>
    </div>
  </ion-content>
</ion-view>
