<div class="modal">
  <ion-header-bar class="bar-royal">
    <div class="buttons">
      <button class="button button-clear button-light" ng-click="closeChangeLocationModal()">关闭</button>
    </div>
    <h1 class="title">
      <input type="text" class="user-add-text" ng-model="locationDetail.user_edit_address " />
    </h1>
    <div class="buttons ">
      <button class="button button-clear " ng-click="closeChangeLocationModal(true) " >提交</button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false ">
    <div choose-location>
      <div class="container "></div>
    </div>
  </ion-content>
</div>
