<!-- http://ionicframework.com/docs/api/directive/ionSideMenus/ -->
<ion-view hide-nav-bar="true">
  <ion-side-menus>
    <ion-side-menu-content id="index">
      <div class="bar bar-header bar-royal">
        <div class="buttons">
            <button class="button button-icon ion-navicon" menu-toggle="left"> {{menuTitle}}</button>
        </div>
        <h1 class="location title" ng-click="showAddress()">{{tabTitle}}</h1>
        <i class="title-expand icon ion-chevron-down icon-accessory"></i>
        <input class="searchbox" ng-class="showSearch?'expanded':''" ng-model="query" type="text" placeholder="">
        <a ng-show="showSearch" class="button button-icon icon ion-ios-close-empty pull-right" style="right:50px;color:#888;" ng-click="query=''"></a>
        <a class="button button-icon icon ion-ios-search pull-right" ng-click="doSearch(query)"></a>
      </div>
      <ion-nav-view name="menuContent">
        <ion-content class="" style="top:44px">
          <ion-refresher ng-if="topics.length > 0 || loadError" pulling-text="下拉刷新..." on-refresh="doRefresh()" >
          </ion-refresher>
          <div class="list topics">
            <div class="item col col-50 no-border" style="float:left" item-height="315px" collection-repeat="topic in topics">
              <div class="item item-image">
                <a ui-sref="item({itemId: topic.id})">
                  <div class="full-image " style="width:100%; height:194px; background:url('{{img_prefix}}{{topic.goods_pics[0]}}') center no-repeat; background-size:cover"></div>
                  <span class="{{topic.goods_quality_degree | badge}}">{{topic.goods_quality_degree}}</span>
                </a>
                <div class="text-left padding-left padding-right padding-top">
                  <a ui-sref="item({itemId: topic.id})" class="topics-title"> <h2> {{topic.title}} </h2></a>
                  <h2 class="price assertive">
                    ￥ {{topic.goods_now_price}}
                    &nbsp;
                    <del>￥ {{topic.goods_pre_price}}</del>
                    <span ng-if='topic.goods_is_bargain' class="bargain">侃</span>
                  </h2>
                  <div class="clearfix dot-line"></div>
                  <div class="clearfix">
                    <div class="float-left"><span class="update-time" am-time-ago="topic.update_at"></span></div>
                    <div class="float-right">
                      <a class="button button-clear button-small" ui-sref="item({itemId: topic.id})">{{topic.reply_count}} <i class="icon ion-ios-chatboxes-outline"> </i></a>
                      <a class="button button-clear button-assertive button-small" ng-click="collectTopic(topic)">{{topic.collect_count}} <i class="icon" ng-class="{'ion-ios-heart': topic.isCollected, 'ion-ios-heart-outline': !topic.isCollected}"> </i> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--
            Loading icon of infinte-scroll not showing with collection-repeat
            https://github.com/driftyco/ionic/issues/2376
          -->
          <ion-infinite-scroll on-infinite="loadMore()" distance="10%" ng-if="hasNextPage && !loadError">
          </ion-infinite-scroll>
          <div class="item text-center padding">
            <p>{{loadingMsg}}</p>
          </div>
        </ion-content>
      </ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
      <ion-header-bar class="bar-stable">
        <h1 class="title">分类</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item class="item topic-name-menu stable-bg {{currentTab==item.value?'activated':''}}" menu-close ng-click="changeSelected(item)" ng-repeat="item in sideMenus" href="#/tab/index/{{item.value}}">
            {{item.label}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>
