<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-color-royal">

  <!-- Index Tab -->
  <ion-tab title="Index" icon="ion-ios-home" href="#/tab/index/">
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
  <ion-tab title="Map" icon="ion-ios-location" href="#/tab/maps/">
    <ion-nav-view name="tab-maps"></ion-nav-view>
  </ion-tab>

  <!-- Post Tab -->
  <ion-tab title="Post" icon="frog-icon frog1" href="#/post">
    <ion-nav-view name="tab-post"></ion-nav-view>
  </ion-tab>

  <!-- Inbox Tab -->
  <ion-tab title="Inbox" icon="ion-ios-email" href="#/tab/inbox" badge="message_not_read_count" badge-style="badge-assertive">
    <ion-nav-view name="tab-inbox">
    </ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Acount" icon="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
