$royal: #56c1b5 !default;
// Your application styles go here
@import "modules/fast.scss";
@import "modules/profile.scss";
@import "modules/post.scss";
@import "modules/image_upload.scss";

// The path for our ionicons font files, relative to the built CSS in www/styles
$ionicons-font-path: "../fonts" !default;

.no-border{
  border: 0;
}
.topics-title{
  text-decoration: none;
}
.goods-badge{
  width: 75px;
  height: 75px;
  position: absolute;
  text-indent: -9999px;
  display: block;
  top: 0;
  left: 0;
}
.goods-badge.qx{background: url(../images/badge/qx.png) no-repeat top left;}
.goods-badge.hx{background: url(../images/badge/hx.png) no-repeat top left;}
.goods-badge.wh{background: url(../images/badge/wh.png) no-repeat top left;}
.goods-badge.sy{background: url(../images/badge/sy.png) no-repeat top left;}
.goods-badge.ny{background: url(../images/badge/ny.png) no-repeat top left;}

.topic-name-menu{
  padding: 0 6px;
  a{
    line-height: 52px;
    padding-left: 16px;
  }
}
.text-center{
  text-align: center;
  display: block;
  width: 100%;
}
.dot-line{
  border-top: 1px dashed #ccc;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.update-time{
  font-size: 80%;
}
.price del{
  color: #ccc;
  font-weight: normal;
  font-size: 12px;
}

.searchbox {
  width:0px;
  padding: 0;
  right: 50px;
  border-radius:17px;
  position:absolute;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}
.searchbox.expanded {
  width:60% !important;
  padding:5px 30px 5px 10px !important
}
input.user-add-text{
  border: 0;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}
.visit-count{
  line-height: 45px;
  vertical-align: baseline;
  color: #999;
}
.name-avatar{
  img{
    border-radius: 30px;
    width: 40px;
    height: 40px;
  }
  span{
    line-height: 40px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.tabs {
  border-top: 1px solid $royal !important;
}

.tab-item {
	overflow: visible;
}

.tabs-color-royal .tab-item {
  color: $royal !important;
}
.tab-item .icon {
  margin-top: 3px;
  width: 40px;
  height: 40px;
  border: 1px solid $royal;
  background-color: #fff;
  border-radius: 20px;
  line-height: 40px !important;
}
.tab-item.activated .icon {
  background-color: $royal;
  color: #fff;
}
.tab-item-active .icon {
  background-color: $royal;
  color: #fff;
}

.tab-item .frog-icon {
	background-size: 100% auto!important;
	height: 60px;
  width: 60px;
	position: relative;
	top: -10px;
  border-radius: 50%;
  background-color: #fff;
  background-position-y: -5px;
  background-repeat: no-repeat;
}

.frog-icon.frog1 {
	background-image: url(../images/frog1.gif);
}

.frog-icon.frog2 {
	background-image: url(../images/frog2.gif);
}

#index .button-clear.active, .button-clear.activated {
  opacity: 0.6;
  border-bottom: 3px solid $royal !important;
}
#index .dot-line {
  margin: 10px 0;
}
#index .bargain {
  background: orange;
  color: #fff;
  font-size: 12px;
  padding: 1px 3px;
  margin-left: 6px;
  line-height: 16px;
}
.phone-icon {
  position: absolute;
  bottom: 40px;
  right: 50%;
  margin-right: 20px !important;
  //left: -webkit-calc(50% - 60px);
  //left: calc(50% - 60px);
}
.message-icon {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: 20px !important;
  //right: -webkit-calc(50% - 60px);
  //right: calc(50% - 60px);
}
.topic-name-menu.activated {
  border-left: 6px solid $royal;
  padding-left: 0px;
}
.has-reply {
  bottom: 150px;
}
.location.title {  
  font-size: 15px;
  margin: 0 auto;
  padding: 0 120px;
  left: inherit;
  right: inherit;
}
.title-expand {
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -7px;
}
